
<div class="site-section bg-lightx">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-5">
                <div class="subscribe-1 ">
                    <h2>Haber bültenimize abone ol</h2>
                   
                    <form method="post" class="d-flex">
                        <input type="text" class="form-control" placeholder="E mail" name="Mail">
                        <input type="submit" class="btn btn-primary" value="Abone ol">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
